server:
  port: 8080

spring:
  application:
    name: gateway-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

zuul:
  retryable: true
  routes:
    user:
      path: /user/**
      serviceId: user-service
    payment:
      path: /payment/**
      serviceId: payment-service
    transfer:
      path: /transfer/**
      serviceId: transfer-service