#spring:
#  data:
#    mongodb:
#      uri: mongodb://localhost:27017/payService

server:
  port: 8081

spring:
  application:
    name: user-service
  cache:
    type: redis

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/